// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.games-list ul {         
  padding:0 0 0 0;
  margin:0 0 0 0;
}
.games-list ul li {

  list-style:none;
  margin-bottom:25px;           
}
.games-list ul li img {
  box-shadow: 10px 10px 5px #888888;
  cursor: pointer;
}