%nav.navbar.navbar-default{:role => "navigation"}
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#"} 
        %span.glyphicon.glyphicon-cloud
        Steamshelf
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li= link_to('Check another user', new_user_path)
      - if @games.present?
        %form{ class: 'navbar-form navbar-right', role: "search"}
          .form-group
            %input#search.form-control{:placeholder => "Filter games", :type => "text"}/
    / /.navbar-collapse
  / /.container-fluid

